h3 {
  display: inline-block;
}
a {
  position: relative;
  margin: 10px;
  bottom: 3em;
}

.icon-custom {
  position: relative;
  left: 2em;
  bottom: 0.8em;
  color: #daa140;
  transition: color 0.2s;
}

.icon-custom:hover {
  color: #946c41;
}
