h3 {
  display: inline-block;
}
a {
  position: relative;
  margin: 10px;
  bottom: 3em;
}

button {
  position: relative;
  background-color: #080f15;
  border: 1px solid #daa140;
  border-radius: 3px;
  color: #daa140;
  text-align: center;
  text-decoration: none;
  bottom: 3.6em;
  left: 0.3em;
  right: 0.2em;
  transition: color 0.2s, border 0.2s;
}
.icon-custom {
  color: #daa140;
  transition: color 0.2s;
  position: relative;
  bottom: 0.2em;
}

button:hover,
.icon-custom:hover {
  color: #946c41;
}
button:hover {
  border: 1px solid #946c41;
  cursor: pointer;
}
