<div class="container-fluid">
  <a *ngIf="isAdmin" (click)="openEdit(contentEdit, myPortfolio)">
    <i class="bi bi-pencil-fill edit-ico"></i>
  </a>
  <div class="container">
    <h2 class="data title">About me</h2>
  </div>
  <ul>
    <li>
      <h5>
        {{ myPortfolio.aboutMe }}
      </h5>
    </li>
  </ul>
</div>

<!-- edit aboutMe text -->
<ng-template #contentEdit let-modal>
  <div class="modal-header example-type">
    <h4 class="modal-title" id="modal-basic-title-1">
      Editar Proyect / Edit Proyect
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="id"
          >ID de {{ myPortfolio.name }} / {{ myPortfolio.name }}'s ID</label
        >
        <div class="input-group">
          <input
            type="number"
            formControlName="id"
            class="form-control"
            readonly
          />
        </div>
        <label for="aboutMe">Sobre mí / About me</label>
        <div class="input-group">
          <textarea
            rows="10"
            cols="50"
            maxlength="255"
            type="textarea"
            formControlName="aboutMe"
            class="form-control"
            placeholder="(255 characters max)"
          ></textarea>
        </div>
        <div class="input-group-append">
          <span class="input-group-text example-type" id="basic-addon2 "
            >breve descripción profesional / a brief professional description
          </span>
        </div>
      </div>
      <div>
        <div class="text-center">
          <button
            data-dismiss="modal"
            class="btn"
            id="submit_btn"
            (click)="onSave(editForm)"
          >
            Modificar / Modify
          </button>
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="name"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="lastname"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="email"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="password"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="about"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="urlImg"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="country"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="location"
            class="form-control"
            readonly
          />
        </div>

        <div class="input-group">
          <input
            type="hidden"
            formControlName="urlBanner"
            class="form-control"
            readonly
          />
        </div>
      </div>
    </form>
  </div>
</ng-template>
