<footer class="text-center text-white mt-1 footer">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/s.cuennen/"
        target="_blank"
        role="button"
        ><i class="bi bi-instagram"></i
      ></a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright:
    <p class="text-warning">CUENNEN</p>
  </div>
  <!-- Copyright -->
</footer>
