a {
  text-decoration: none;
}
img {
  width: 100px;
  background-color: #080f15;
}
#aplogo {
  position: relative;
  left: 1em;
}
.hashtagtext {
  position: relative;
  color: #cd922d;
  transition: color 0.2s;
}
.hashtagtext:hover {
  color: #946c41;
}
