h2,
h3 {
  color: #428681;
}

#prof-edit {
  cursor: pointer;
  position: relative;
  top: 180px;
  left: 200px;
  color: #848484;
  font-size: 25px;
  transition: all 0.2s;
  z-index: 100;
}

#prof-edit:hover {
  cursor: pointer;
  color: #daa140;
}
#inputFile {
  display: none;
}
