<div>
  <input
    type="file"
    accept=".png, .jpg, .jpeg, .gif"
    (change)="onCaptureBanner($event, picture)"
    formControlName="picUrl"
    id="banner-input"
  />
  <label *ngIf="isAdmin" for="banner-input" id="banner-edit"
    ><i class="bi bi-pencil-fill"></i
  ></label>
  <img
    class="img-fluid rounded mx-auto"
    [src]="onloadBanner ? loading : picture.urlBanner"
    alt="banner"
    id="banner"
  />
  <input
    type="file"
    accept=".png, .jpg, .jpeg, .gif"
    (change)="onCaptureProfile($event, picture)"
    formControlName="picUrl"
    id="inputFile"
  />
  <label *ngIf="isAdmin" for="inputFile" id="prof-edit"
    ><i class="bi bi-pencil-fill"></i
  ></label>
</div>
<div class="container-fluid">
  <div class="profile-container">
    <img
      class="img-fluid"
      id="profileimg"
      [src]="onloadProfile ? loading : picture.picUrl"
      alt="profile"
    />
    <h2 class="display-3 data" id="name">
      {{ myPortfolio.name }} {{ myPortfolio.lastname }}
    </h2>
  </div>

  <div class="container">
    <h3 class="display-6 data">{{ myPortfolio.about }}</h3>
    <h3 class="lead data">
      <b>{{ myPortfolio.location }}</b> -
      {{ myPortfolio.country }}
    </h3>
  </div>
</div>
<router-outlet></router-outlet>
