<div class="container-fluid">
  <div class="container">
    <h2 class="data title">Education</h2>
    <h1>
      <a (click)="open(content)">
        <i class="bi bi-file-plus-fill icon-custom-add"></i>
      </a>
    </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item body" *ngFor="let degree of educationList">
      <div class="list-group-item flex-column align-items-start body">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ degree.title }}</h5>
          <p class="mb-1" id="year">{{ degree.endDate }}</p>
          <div>
            <a (click)="onDelete(degree)"
              ><i class="bi bi-trash3 delete_btn"></i
            ></a>
            <a class="edit_btn" routerLink="/educationedit">
              <i class="bi bi-pencil-fill"></i>
            </a>
          </div>
        </div>
        <p class="mb-1">
          {{ degree.institution }}
        </p>
      </div>
    </li>
  </ul>
</div>

<ng-template #content let-modal>
  <div class="modal-header example-type">
    <h4 class="modal-title" id="modal-basic-title">Nueva Educación</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="add-form">
      <div class="form-group">
        <label for="firstname">Título</label>
        <div class="input-group">
          <input id="title" class="form-control" />
        </div>
        <label for="firstname">Tipo de título</label>
        <div class="input-group">
          <input id="title-type" class="form-control" />
          <div class="input-group-append">
            <span class="input-group-text example-type" id="basic-addon2 "
              >ej: curso, universitario, etc.
            </span>
          </div>
        </div>
        <label for="firstname">Institución</label>
        <div class="input-group">
          <input id="institution" class="form-control" />
        </div>
        <label for="firstname">Año ingreso</label>
        <div class="input-group">
          <input id="startDate" class="form-control" />
        </div>
        <label for="firstname">Año finalización</label>
        <div class="input-group">
          <input id="endDate" class="form-control" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Guardar
    </button>
  </div>
</ng-template>
