<div class="container-fluid">
  <div class="container">
    <h2 class="data title">Education</h2>
    <h1>
      <a href="">
        <i class="bi bi-file-plus-fill icon-custom-add"></i>
      </a>
    </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item body" *ngFor="let degree of educationList">
      <div class="list-group-item flex-column align-items-start body">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ degree.title }}</h5>
          <p class="mb-1" id="year">{{ degree.endDate }}</p>
          <div>
            <a (click)="onDelete(degree)"
              ><i class="bi bi-trash3 delete_btn"></i
            ></a>
            <a class="edit_btn" routerLink="/educationaddedit">
              <i class="bi bi-pencil-fill"></i>
            </a>
          </div>
        </div>
        <p class="mb-1">
          {{ degree.institution }}
        </p>
      </div>
    </li>
  </ul>
</div>
