app-media-links {
  position: relative;
  float: right;
  top: 0.28em;
}
* {
  top: 0.5em;
}
button {
  position: relative;
  float: right;
  bottom: 15em;
  background-color: #080f15;
  border: 1px solid #daa140;
  border-radius: 3px;
  color: #daa140;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s, border 0.2s;
}
button:hover {
  color: #946c41;
  border: 1px solid #946c41;
  cursor: pointer;
}
#button {
  z-index: 100;
}
#presentation {
  z-index: 100;
  color: #daa140;
  text-align: center;
}
