<div class="container-fluid">
  <div class="container">
    <h2 class="data title">Proyects</h2>
    <h1>
      <a *ngIf="isAdmin" (click)="openAdd(content)">
        <i class="bi bi-file-plus-fill icon-custom-add"></i>
      </a>
    </h1>
  </div>
  <ul
    class="list-group list-group-flush"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
  >
    <li
      class="list-group-item body"
      *ngFor="let proyect of proyectsList"
      cdkDrag
    >
      <div class="div-border mb-4">
        <div class="list-group-item flex-column align-items-start body">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ proyect.title }}</h5>
            <a
              [href]="proyect.url"
              target="_blank"
              class="btn btn-light float-right"
              style="position: relative; left: 2.2em"
              id="seemore"
              >See more</a
            >
            <p class="year">{{ proyect.yearDate }}</p>
            <div>
              <a *ngIf="isAdmin" (click)="onDelete(proyect)"
                ><i class="bi bi-trash3 delete_btn"> </i
              ></a>
              <a *ngIf="isAdmin" (click)="openEdit(contentEdit, proyect)">
                <i class="bi bi-pencil-fill edit_btn"></i>
              </a>
            </div>
          </div>
          <p class="mb-1 description">{{ proyect.description }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- add new education item -->
<ng-template #content let-modal>
  <div class="modal-header example-type">
    <h4 class="modal-title" id="modal-basic-title">
      Nuevo Proyecto / New proyect
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="title">Título / Title</label>
        <div class="input-group">
          <input
            id="title"
            name="title"
            class="form-control"
            [(ngModel)]="proyectsList.title"
          />
        </div>
        <label for="type">Url del proyecto / Proyect url</label>
        <div class="input-group">
          <input
            id="url"
            name="url"
            class="form-control"
            [(ngModel)]="proyectsList.url"
          />
          <div class="input-group-start col"></div>
        </div>
        <label for="institution"
          >Fecha del proyecto (año)/ Proyect Date (year only)</label
        >
        <div class="input-group">
          <input
            type="number"
            id="yearDate"
            name="yearDate"
            class="form-control"
            [(ngModel)]="proyectsList.yearDate"
          />
        </div>
        <label for="startDate">Descripción / Description</label>
        <div class="input-group">
          <input
            id="description"
            name="description"
            class="form-control"
            [(ngModel)]="proyectsList.description"
          />
        </div>
        <div class="input-group-append">
          <span class="input-group-text example-type" id="basic-addon2 "
            >breve descripción del poyecto / a brief description of the proyect
          </span>
        </div>
      </div>
      <div>
        <div class="text-center">
          <button data-dismiss="modal" class="btn" id="submit_btn">
            Agregar / Add
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Guardar / Save
    </button>
  </div>
</ng-template>

<!-- edit education item -->
<ng-template #contentEdit let-modal>
  <div class="modal-header example-type">
    <h4 class="modal-title" id="modal-basic-title-1">
      Editar Proyect / Edit Proyect
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="title">Título / Title</label>
        <div class="input-group">
          <input formControlName="title" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="url">Url del proyecto / Proyect url</label>
        <div class="input-group">
          <input formControlName="url" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="yearDate"
          >Fecha del proyecto (año)/ Proyect Date (year only)</label
        >
        <div class="input-group">
          <input formControlName="yearDate" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="description">Descripción / Description</label>
        <div class="input-group">
          <input formControlName="description" class="form-control" />
        </div>
        <div class="input-group-append">
          <span class="input-group-text example-type" id="basic-addon2 "
            >breve descripción del poyecto / a brief description of the proyect
          </span>
        </div>
      </div>
      <div>
        <div class="text-center">
          <button
            data-dismiss="modal"
            class="btn"
            id="submit_btn"
            (click)="onSave(editForm)"
          >
            Modificar / Modify
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
