.bar {
  position: relative;
  margin-top: 1em;
  padding-bottom: 30px;
  bottom: 2.5em;
}

#icon-custom-add {
  left: 6em;
}
mat-progress-bar {
  left: 1.5em;
  height: 0.5em;
  border-radius: 10px;
}

.div-border {
  position: absolute;
  right: 1.5em;
  border: 0.5px solid #080f15;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: #080f15 2px 3px 10px;
  width: 74.7em;
  height: 5.5em;
  z-index: 98;
}
.div-border:hover {
  position: absolute;
  right: 1.5em;
  border: 1px solid #daa140;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: #101e2b 2px 3px 10px;
  width: 74.7em;
  height: 5.5em;
  z-index: 98;
}
.skill-title {
  position: relative;
  left: 2em;
  top: 3em;
  color: #bdbdbd;
}
.skill-button {
  position: relative;
  top: 1em;
  z-index: 100;
}
