.bar {
  position: relative;
  padding-bottom: 30px;
  bottom: 2.5em;
}
.progress-bar {
  background-color: #848484;
}
.percentage {
  color: #848484;
}
#edit-ico-skills {
  position: relative;
  bottom: 100px;
  left: 2em;
  float: right;
  color: #848484;
  font-size: 25px;
  transition: all 0.2s;
}
#edit-ico-skills:hover {
  color: #bdbdbd;
}
#icon-custom-add {
  left: 6em;
}
