div .container-fluid {
  border: none;
}
.bar {
  position: relative;
  margin-top: 1em;
  padding-bottom: 30px;
  bottom: 2.5em;
}

#icon-custom-add {
  left: 6em;
}
mat-progress-bar {
  top: 3em;
  left: 10vw;
  height: 0.5em;
  width: 80vw;
  border-radius: 10px;
}

.div-border {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0.5px solid #080f15;
  box-shadow: #080f15 2px 3px 10px;
}
.div-border:hover {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0.5px solid #daa140;
  box-shadow: #101e2b 2px 3px 10px;
}
.skill-title {
  position: relative;
  left: 10vw;
  top: 3em;
  color: #bdbdbd;
}
.skill-button {
  position: relative;
  top: 1em;
  z-index: 100;
}
.logo {
  object-fit: contain;
  width: 4em;
  height: 4em;
  position: relative;
  width: 5em;

  top: 2em;
  z-index: 100;
}
