@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
  background-color: #080f15;
}
.body {
  background-color: #080f15;
}
.container-fluid {
  width: 100%;
  height: 100%;
  border: 0.1em solid #cd922d;
  border-radius: 20px;
  transition: all 0.2s;
}
.container-fluid:hover {
  border: 0.1em solid #f7e11a;
}
.img {
  width: 60px;
}

.img-fluid {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.profile-container {
  display: flex;
  position: relative;
  bottom: 30px;
}
#profileimg {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 0.1em solid #daa140;
  transition: border 0.2s;
}
#profileimg:hover {
  border: 0.1em solid #73787d;
}

.data {
  font-family: "Ubuntu Mono", monospace;
  position: relative;
  margin: 8px 15px 10px;
  display: block;
}
.edit-ico {
  float: right;
  position: relative;
  top: 1em;
  right: 1em;
  color: #848484;
  font-size: 25px;
  transition: all 0.2s;
  z-index: 100;
}

.edit-ico:hover {
  color: #bdbdbd;
}
#name {
  top: 20px;
  color: #bdbdbd;
}
.title {
  font-size: 50px;
  color: #bdbdbd;
  padding-bottom: 10px;
}

.card-style {
  background-color: #000000;
  color: #848484;
  border: 0.1em solid #bdbdbd;
}

.logo {
  object-fit: contain;
  width: 4em;
  height: 4em;
  position: relative;
  width: 5em;
  right: 5.5em;
  top: 2.5em;
}
.icon-custom-add {
  position: relative;
  bottom: 1.85em;
  margin-left: 7em;
  color: #daa140;
  transition: color 0.3s;
}
.icon-custom-add:hover {
  cursor: pointer;
  color: #946c41;
}

#addnew:hover {
  cursor: pointer;
}
#year {
  color: #daa140;
}
.delete_btn {
  padding: 5px;
  font-size: 20px;
  float: right;
  color: #848484;
  transition: all 0.2s;
  z-index: 100;
}
.edit_btn {
  padding: 5px;
  font-size: 20px;
  float: right;
  color: #848484;
  transition: all 0.2s;
  z-index: 100;
}

.delete_btn:hover,
.edit_btn:hover {
  color: #bdbdbd;
  cursor: pointer;
}
.submit_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.example-type {
  background-color: #daa140;
}

.form-control:focus {
  border-color: #daa140;
  box-shadow: inset 0 1px 1px #00000013, 0 0 8px #daa140;
}
